.popup-new-place__input {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 9px 0;
  width: 358px;
}

.popup-new-place__input:first-of-type {
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .popup-new-place__input {
    width: 238px;
  }
}
