.popup-new-place__button {
  margin: 0;
  padding: 0;
  background-color: black;
  box-shadow: none;
  width: 100%;
  height: 50px;
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  margin-top: 18px;
  cursor: pointer;
}

.popup-new-place__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup-new-place__button {
    font-size: 14px;
    line-height: 30px;
    height: 46px;
    margin-top: 44px;
  }
}
