.profile__edit-button {
  background-image: url(../../../images/editt.svg);
  grid-area: edit-button;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  align-self: end;
  background-position: center;
  border: 1px solid white;
  padding: 12px;
  background-color: black;
  cursor: pointer;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    align-self: center;
    width: 7px;
    height: 7px;
    padding: 8px;
    margin-left: 12px;
  }
}

.profile__edit-button:hover {
  opacity:  0.6;
}
