.element__caption {
  margin: 25px 15px 0 21px;
  display: flex;
  width: 246px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .element__caption:last-of-type {
    margin-bottom: 0px;
  }
}
