.popup__close {
  background: transparent;
  box-shadow: none;
  border: none;
  background-image: url(../../../images/CloseIcon.svg);
  backface-visibility: visible;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .popup__close {
    background-image: url(../../../images/Close.svg);
    top: -40px;
    right: 0px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
}

.popup__close:hover {
  opacity: 0.6;
}
