.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width:768px) {
  .popup__close {
    top: -50px;
    right: 0px;
  }
}

.popup__close:hover {
  opacity:  0.8;
}
