.profile__caption {
  grid-area: caption;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
  margin-left: 4px;
  color: white;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    max-width: 190px;
    margin-left: 25px;
  }
}
