.profile__add-button {
  background-image: url(../../../images/addBut.svg);
  background-color: black;
  width: 22px;
  height: 20px;
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px 75px 25px 72px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  align-self: center;
  justify-self: end;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    justify-self: center;
    width: 282px;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
