.element__like {
  background-image: url(../../../images/like_disabled.svg);
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 19px;
  background-color: white;
}

.element__like:hover {
  opacity: 0.5;
}
