.profile__image-edit-button {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__image-edit-button:hover {
  background-image: url(../../../images/profileEditVector.svg);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: none;
}
